<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>밋밋</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/handshaking" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles_dh.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
	<!-- Navigation-->
	<div th:insert="nav.html"></div>



	<!-- Header-->
	<!-- 내 프로필 -->
	<div style="border: 1.8px solid #DBDBDB; height: 300px; padding-left: 50px; padding-bottom: 20px; display: flex; align-items: flex-end;">
		<div style="border: 3px solid transparent;
			border-radius: 50%;
			background-image: linear-gradient(#fff, #fff), 
			linear-gradient(45deg, #FFC700 18%, #FF6710 40% ,#D100C3 100%);
			background-origin: border-box;
			background-clip: content-box, border-box;
			padding: 5px;">
			<div id="myProfile" style="border: 5px solid  white; width: 250px; height: 250px; border-radius: 50%; overflow: hidden;padding: 5px;">
			</div>
		</div>
		<div id="myProfileName" style="margin: 10px;">
			<span style="font-size: 25px;"></span>
		</div>
	</div>



	<!-- Main Contents -->
	<div style="border: none; display: flex;background-color:#FAFAFA;">
		<!-- Side bar-->
		<div style="border: 1.8px solid #DBDBDB;text-align: center; width: 10%; height: 300px; margin-left:70px; margin-top:50px; margin-right:70px; border-radius:15px;background-color:#FFFFFF;">
			<br><div>메뉴</div>
			<hr width =100%  size=7/>
			<a href="/tofriendlist" class="mycss1">친구 목록</a>
			<br><br>
			<a href="/tofriendsearch" class="mycss1">친구 추가</a>
			<br><br>
			<a href="/tofriendrequest" class="mycss1">친구 요청목록</a>
			<br>
			<style>
				.mycss1:link {
				  color : gray;
				  text-decoration-line: none;
				}
				.mycss1:visited {
				  color : black;
				}
				.mycss1:hover {
				  color : black;
				  text-decoration: underline;
				}
				.mycss1:active {
				  color : green
				}
			</style>
		</div>



		<!-- Center Contents -->
		<div style="border: 1.8px solid #DBDBDB;border-radius:15px;margin-top:30px; width: 60%; height: 1280px;display: block; background-color:white">
			<div id="changing1" style="border:none; margin-top:30px; width: 100%; height: 1200px; display: flex; flex-wrap: wrap;justify-content:flex-start;"></div>
			
			<!-- 페이지 -->
			<div class="pagination" style="text-align: center; ">
				<ul class="paginationNumber" id="pages" style="margin-left: auto; margin-right: auto;">
				?
				</ul>
			</div>
		</div>
	</div>







	<!-- Footer-->
	<div th:insert="footer.html"></div>



	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>






	<script>
/* 자바스크립트용 전역변수 선언 */
var User = "?";				// 세션에서 받은 id 저장할 변수
var Username = "?";			// 세션에서 받은 nickname 저장할 변수
var targetFriendId = "?"; 	// 친구목록에서 현재 선택된 친구id를 저장할 변수

/* 서버단 세션에서  id,nickname 받아오기*/
axios
.post("getsession")
.then(
	function(response) {
		User = response.data[0];
		Username = response.data[1];
		
		showMe();
		showRequest();
});

function showMe(){
	var profilebox = document.getElementById("myProfile");
	profilebox.innerHTML = `<img src="/files/${User}_profile" alt="" style="width:300px; height:300px; max-width:300px; max-height:300px; object-fit:cover;
		position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">`;
	var namebox = document.getElementById("myProfileName");
	namebox.innerHTML = `<b style="font-size:27px;">${Username}</b>( ${User} )`;
} 

var friendsNum = 0;
var perPage = 12;
var pageNum = 0;
var tempData = 0;
var div = 0;
function showRequest(){
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {
		let res_data = this.responseText;
		let data = JSON.parse(res_data);
		
		tempData = data;
		friendsNum = data.length;
		pageNum = Math.ceil(friendsNum/12);
		var pageUl = document.getElementById("pages");
		pageUl.innerHTML = "";
		pageUl.innerHTML = "<a href='javascript:movePage(1);'>1</a>";
		for (var idx=2; idx<=pageNum; idx++){
			pageUl.innerHTML += `/<a href='javascript:movePage(${idx});'>${idx}</a>`;
		}
		
		div = document.getElementById("changing1");
		div.innerHTML = "";
		for (i in data){
			if (i >= perPage){
				break;
			}
			div.innerHTML += `<div class="friendsprofile" id=${data[i][0]} style="border: 1.8px solid #DBDBDB;border-radius:15px; width: 240px; height: 300px; margin:5px;overflow:hidden;">
			<div style="width:100%; height:68%;overflow:hidden; margin-top:20px;border: 1.8px solid #DBDBDB;">
			<img src="/files/${data[i][0]}_profile" alt="" style="width:235px; height:235px; 
			max-width: 235px; max-height: 235px;">
			</div><br>
			&nbsp;&nbsp;&nbsp;&nbsp;ID &nbsp;&nbsp;&nbsp;&nbsp;: ${data[i][0]}<br>
			&nbsp;닉네임  &nbsp;: ${data[i][1]}
			<button class=myButton onclick="javascript:deleteRequest('${data[i][2]}');">삭제</button>
			<button class=myButton onclick="javascript:acceptRequest('${data[i][2]}','${data[i][0]}','${User}');" >수락</button>
			<style>
			.myButton{
				font-size:15px;
				float:right;
				margin-right:5px;
				border:none;
				background-color:white;
				color:#1DA0F6;
				font-weight:bold;
			}
			.myButton:hover {
			    transform: scale(1.2);
			}
			</style>
			<br>
			</div>`;
		}
		if (data.length==0){
			div.style = "text-align: center;";
			div.innerHTML = `<br><br><br><br><br><br><br><br><br><br>
			친구요청이 없습니다. 친구 추가를 이용해 친구를 만들어보세요.
			<br><br><br><br><br><br><br><br><br><br><br><br>`; 
		}
	}
	xhttp.open("get", `friendrequest/findFriendRequestByRequestedId?requestedId=${User}`, true);
	xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded;charset=UTF-8");
	xhttp.send();
}


function movePage(v){
	console.log(v);
	div.innerHTML = "";
	if (tempData.length==0){
		div.style = "text-align: center;";
		div.innerHTML = `<br><br><br><br><br><br><br><br><br><br>
		친구요청이 비었습니다. 친구 추가를 이용해 친구를 만들어보세요.
		<br><br><br><br><br><br><br><br><br><br><br><br>`; 
	}else{
	for (var start=perPage*(v-1); start<perPage*v; start++ ){
			div.innerHTML += `<div class="friendsprofile" id=${tempData[start][0]} style="border: 1.8px solid #DBDBDB;border-radius:15px; width: 240px; height: 300px; margin:5px;overflow:hidden;">
				<div style="width:100%; height:68%;overflow:hidden; margin-top:20px;border: 1.8px solid #DBDBDB;">
				<img src="/files/${tempData[start][0]}_profile" alt="" style="width:235px; height:235px; 
				max-width: 235px; max-height: 235px;">
				</div><br>
				&nbsp;&nbsp;&nbsp;&nbsp;ID &nbsp;&nbsp;&nbsp;&nbsp;: ${tempData[start][0]}<br>
				&nbsp;닉네임  &nbsp;: ${tempData[start][1]}
				<button class=myButton onclick="javascript:deleteRequest('${tempData[start][2]}');">삭제</button>
				<button class=myButton onclick="javascript:acceptRequest('${tempData[start][2]}','${tempData[start][0]}','${User}');" >수락</button>
				<style>
				.myButton{
					font-size:15px;
					float:right;
					margin-right:5px;
					border:none;
					background-color:white;
					color:#1DA0F6;
					font-weight:bold;
				}
				.myButton:hover {
				    transform: scale(1.2);
				}
				</style>
			<br>
			</div>`;
		}
	}
}
		
			
function acceptRequest(v1,v2,v3){	
	const request1 = v1;
	const request2 = v2;
	const request3 = v3;
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {
		let res_data = this.responseText;
		alert(res_data);
		showRequest();
	}
	xhttp.open("delete", `friendrequest/accept?id=${request1}&id1=${request2}&id2=${request3}`, true);
	xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded;charset=UTF-8");
	xhttp.send();
}
function deleteRequest(v){	
	const request = v;
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {
		let res_data = this.responseText;
		alert(res_data);
		showRequest();
	}
	xhttp.open("delete", `friendrequest/delete?id=${request}`, true);
	xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded;charset=UTF-8");
	xhttp.send();
}
			
</script>
</body>
</html>