<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>밋밋</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/handshaking.png" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles_dh.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
var hiddenPath = null;
var User = "?";/* 세션에서 내 아이디 받아오기 */
var Username = "?"; //이거도 세션에서받아오기
</script>


</head>
<body>
	<!-- Navigation-->
	<!-- <div th:insert="nav.html"></div> ?? 이거쓰면안떠서밑에방식이용 -->
	<div w3-include-html="nav.html"></div>
	<!-- Header-->
	<div
		style="border: 1px solid black; height: 300px; padding-left: 50px; padding-bottom: 20px; display: flex; align-items: flex-end;">
		<div id="myProfile" style="border: 3px solid green; width: 250px; height: 250px;">
			
		</div>
		<div id="myProfileName" style="margin: 10px;">
			<span style="font-size: 25px;"></span>
		</div>
	</div>
	<!-- Section-->
	<div style="border: 1px solid red; display: flex;">
		<div style="border: 1px solid black; width: 20%; height: 300px;">

			<a href="/tofriendlist">친구 목록</a><br> <a
				href="/tofriendsearch">친구 추가</a><br>
				<a href="/tofriendrequest">친구 요청목록</a><br>

		</div>

		<div id="changing1"
			style="border: 1px solid black; width: 60%; height: 1200px; display: flex; flex-wrap: wrap;">

		</div>


		<div id="changing2"
			style="border: 1px solid black; width: 60%; height: 700px; display: none;">
			<div>
				<input id="findUser" type="text"
					placeholder="해당 유저의 아이디나 이름을 입력해주세요" size=100>
				<button onclick="javascript:findFriend();">찾기</button>
			</div>
			<div id="showResult" style="border: 1px solid black; width: 100%; height: 1200px; display: flex; flex-wrap: wrap;">검색한내용표시박스</div>
		</div>
		


	</div>

	
	<div id='dochi_context_menu' class="custom-context-menu" style="display: none; border:1px solid red; background-color:white;">
      <ul>
        <li><a href="javascript:deleteFriend();">친구 삭제하기</a></li>
        <li><a href="home.html">친구 차단하기</a></li>
      </ul>
    </div>
   
	
	
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2022</p>
		</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>

	
	<script>
		includeHTML();
		function includeHTML() {
			var z, i, elmnt, file, xhttp;
			/* Loop through a collection of all HTML elements: */
			z = document.getElementsByTagName("*");
			for (i = 0; i < z.length; i++) {
				elmnt = z[i];
				/*search for elements with a certain atrribute:*/
				file = elmnt.getAttribute("w3-include-html");
				if (file) {
					/* Make an HTTP request using the attribute value as the file name: */
					xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function() {
						if (this.readyState == 4) {
							if (this.status == 200) {
								elmnt.innerHTML = this.responseText;
							}
							if (this.status == 404) {
								elmnt.innerHTML = "Page not found.";
							}
							/* Remove the attribute, and call this function once more: */
							elmnt.removeAttribute("w3-include-html");
							includeHTML();
						}
					}
					xhttp.open("GET", file, true);
					xhttp.send();
					/* Exit the function: */
					return;
				}
			}
		}
	</script>
	<script>
	function showMe(){
		console.log("내프로필띄우기");
		var profilebox = document.getElementById("myProfile");
		console.log(profilebox);
		console.log(User);
		console.log(Username);
		profilebox.innerHTML = `<img src="../images/profile/${User}_profile.png" alt="" style="width:235px; height:235px; max-width: 235px; max-height: 235px;object-fit: cover;">`;
		var namebox = document.getElementById("myProfileName");
		namebox.innerHTML = `${Username}`;
	} 
	
	const boxes = null;
	function showFriends(){
		console.log("비동기실행확인");
		console.log("사용중유저 : " + User);
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
			let res_data = this.responseText;
			let data = JSON.parse(res_data);
			var div = document.getElementById("changing1");
			console.log(div);
			div.innerHTML = "";
			for (i in data){
				div.innerHTML += `<div class="friendsprofile" id=${data[i][1]} style="border: 1px solid blue; width: 240px; height: 300px;">
				<img src="images/profile/${data[i][1]}_profile.png" alt="" style="width:235px; height:235px;
				max-width: 235px; max-height: 235px;"><br>
				친구목록id : ${data[i][0]}<br>
				닉네임 : ${data[i][2]}<br>
				아이디 : ${data[i][1]}</div>`;
			
			}
			
			
			
			
			const boxes = document.querySelectorAll(".friendsprofile");
			console.log(boxes);
			console.log("박스정의");
			
			 
			function handleCreateContextMenu(event){
		        // 기본 Context Menu가 나오지 않게 차단
		        event.preventDefault();
		        hiddenPath = event.currentTarget.id;
				console.log(hiddenPath);
		        const ctxMenu = document.getElementById('dochi_context_menu');
		        
		        // 노출 설정
		        ctxMenu.style.display = 'block';
		        ctxMenu.style.position = 'absolute';
		        // 위치 설정
		        ctxMenu.style.top = event.pageY+'px';
		        ctxMenu.style.left = event.pageX+'px';
		      }
		      
		      // Context Menu 제거
		      function handleClearContextMenu(event){
		        const ctxMenu = document.getElementById('dochi_context_menu');
		        
		        // 노출 초기화
		        ctxMenu.style.display = 'none';   
		        ctxMenu.style.top = null;
		        ctxMenu.style.left = null;
		      }
		      
		      // 이벤트 바인딩 id=${i}th_friend
		      boxes.forEach( (box) => {
		        box.addEventListener('mouseover', onmouse, false)
		      });
		      boxes.forEach( (box) => {
		        box.addEventListener('mouseout', outmouse, false)
		      });
		      
		      function onmouse(){
				  var selectedBox = event.currentTarget;
		    	  selectedBox.addEventListener('contextmenu', handleCreateContextMenu, false);
		      }
		      function outmouse(){
		    	  var selectedBox = event.currentTarget;
		    	  selectedBox.removeEventListener('contextmenu', handleCreateContextMenu, false);
		      }
		      document.addEventListener('click', handleClearContextMenu, false);

			
		}
		xhttp.open("get", `friendlist/findFriendListById1?id1=${User}`, true);
		xhttp.setRequestHeader("Content-type",
				"application/x-www-form-urlencoded;charset=UTF-8");
		xhttp.send();
	}
	
	
	/* 우클릭에서 눌렀을 때 경로  */
	function deleteFriend(){
		console.log("성공");
		console.log(hiddenPath);
		console.log(User);
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
			console.log("삭제완료");
			showFriends();
		}		
		xhttp.open("delete", `friendlist/delete?id1=${hiddenPath}&id2=${User}`, true);
		xhttp.setRequestHeader("Content-type",
				"application/x-www-form-urlencoded;charset=UTF-8");
		xhttp.send();
	}
	
	
	
</script>

<script>
			function findFriend() {
				console.log("유저검색실행확인");
				const findUser = document.getElementById("findUser").value;
				console.log("검색할내용 : " + findUser);
				const xhttp = new XMLHttpRequest();
				xhttp.onload = function() {
					let res_data = this.responseText;
					let data = JSON.parse(res_data);
					var div = document.getElementById("showResult");
					div.innerHTML = "";
					for (i in data){
						div.innerHTML += `<div class="searchingprofile" id=${data[i][0]} style="border: 1px solid blue; width: 240px; height: 300px;">
						<img src="images/profile/${data[i][0]}_profile.png" alt="" style="width:235px; height:235px;
						max-width: 235px; max-height: 235px;"><br>
						닉네임 : ${data[i][1]}<br>
						아이디 : ${data[i][0]}
						<button onclick="javascript:addFriend('${data[i][0]}');" value="친구신청">친구신청</button>
						</div>`;
					
					}
				}
				xhttp.open("get", `searchUser?searching=${findUser}`, true);
				xhttp.setRequestHeader("Content-type",
						"application/x-www-form-urlencoded;charset=UTF-8");
				xhttp.send();
			}
			function addFriend(v) {
				console.log("친구추가실행");
				console.log(v);
				const xhttp = new XMLHttpRequest();
				xhttp.onload = function() {
					let res_data = this.responseText;
					document.getElementById("showResult").innerHTML = res_data;
					alert("친구신청완료");
				}
				xhttp.open("post", `friendlist/post?id1=${User},id2=${findUser}`, true);
				xhttp.setRequestHeader("Content-type",
						"application/x-www-form-urlencoded;charset=UTF-8");
				xhttp.send();
			}
		</script>
<script type="text/javascript">
	axios
		.post("getsession")
		.then(
			function(response) {
				console.log("!@#!#!@#!@#!@");
				console.log(User);
				console.log(Username);
				console.log(response);
				User = response.data[0];
				Username = response.data[1];
				console.log(User);
				console.log(Username);
				console.log("!@#!#!@#!@#!@");
				showMe();
				showFriends();
			});
</script>

</body>
</html>
