<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>meeting 상세 페이지</title>
</head>
<link href="../../css/styles_jw.css" rel="stylesheet" />
<body>
	<div w3-include-html="../../nav.html"></div>
	resources/statics/
	<h1 th:text="${meeting}"></h1>
	<h1 th:text="${meeting.filepath}"></h1>
	<a th:href="@{${meeting.filepath}}">다운받기</a>
	<a th:href="@{/meetmeet/delete(meetingId=${meeting.meetingId})}">글삭제</a>
	<a
		th:href="@{/meetmeet/modify/{meetingId}(meetingId=${meeting.meetingId})}">수정</a>
</body>
<script>
	/* html include*/
	includeHTML();
	function includeHTML() {
		var z, i, elmnt, file, xhttp;
		/* Loop through a collection of all HTML elements: */
		z = document.getElementsByTagName("*");
		for (i = 0; i < z.length; i++) {
			elmnt = z[i];
			/*search for elements with a certain atrribute:*/
			file = elmnt.getAttribute("w3-include-html");
			if (file) {
				/* Make an HTTP request using the attribute value as the file name: */
				xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
						if (this.status == 200) {
							elmnt.innerHTML = this.responseText;
						}
						if (this.status == 404) {
							elmnt.innerHTML = "Page not found.";
						}
						/* Remove the attribute, and call this function once more: */
						elmnt.removeAttribute("w3-include-html");
						includeHTML();
					}
				}
				xhttp.open("GET", file, true);
				xhttp.send();
				/* Exit the function: */
				return;
			}
		}
	}
</script>
</html>