<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/handshaking.png" />
<!-- title -->
<title>빠르고 간편한 모임 MeetMeet</title>
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles_jw.css" rel="stylesheet" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/handshaking.png" />
<!-- title -->
<title>빠르고 간편한 모임 MeetMeet</title>
</head>
<body>
	<!-- Navigation-->
	<div th:insert="nav"></div>
	<!-- Header-->
	<!-- Section-->
	<div style="display: block">
		<!-- 		<form action="/tomypagepre" method="get">
			<div class="d-grid">
				<button class="btn btn-primary" type="button" style="opacity: 0.7"
			onclick="/tomypagepre">선호모임 변경</button>
			</div>
		</form>
		<form action="/tomypagenic" method="get">
			<div class="d-grid">
				<button class="btn btn-primary" type="button" style="opacity: 0.7"
			onclick="/tomypagenic">개인정보 변경</button>
			</div>
		</form>
		<form action="/tomypagepw" method="get">
			<div class="d-grid">
				<button class="btn btn-primary" type="button" style="opacity: 0.7"
			onclick="/tomypagepw">비밀번호 변경</button>
			</div>
		</form> -->



	</div>
	<br>
	<br>
	<br>
	<br>
	<div id="changing2"
		class="row gx-4 gx-lg-5 justify-content-center mb-5">
		<div class="col-lg-6">
			<form action="account/changenickname" method="post">
				<div class="form-floating mb-3">
					<input class="form-control" name="nickName" id="nickNameChange"
						type="text" required pattern="^[a-zA-Z0-9ㄱ-ㅎ가-힣]+$"
						onchange="nicknameval()" /> <label for="nickname">Nick
						Name</label>
					<div class="nickname invalid-feedback">특수문자는 사용할 수 없습니다.</div>
					<div class="nickname valid-feedback" style="display: none">사용
						가능한 닉네임 입니다.</div>
				</div>
				<div class="d-grid">
					<button class="btn btn-primary btn-xl" id="nickNameChangeButton"
						type="submit" disabled="true">변경하기</button>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		function nicknameval() {

			var e = document.getElementById("nickNameChange");
			var ei = document
					.getElementsByClassName('nickname invalid-feedback');
			var ev = document.getElementsByClassName('nickname valid-feedback');

			if (e.checkValidity()) {
				ev[0].style.display = "block";
				ei[0].style.display = "none";
				document.getElementById("nickNameChangeButton").disabled = false;
			} else {
				ev[0].style.display = "none";
				ei[0].style.display = "block";
				document.getElementById("nickNameChangeButton").disabled = true;
			}
			;
		};
	</script>

	<script type="text/javascript">
		axios.post("getsession").then(function(response) {
			console.log(response);
			/* document.getElementById("idchange").value = response.data[0]; */
			document.getElementById("nickNameChange").value = response.data[1];
		});
	</script>



	<!-- Footer-->
	<div th:insert="footer"></div>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
