<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container px-4 px-lg-5">
		<p class="navbar-brand" style="margin: auto; font-size: 23px;"
			onclick="location.href='/tohome'">밋밋</p>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item"><a class="nav-link" aria-current="page"
					href="/tohome">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="../toabout">About</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">My
						Page</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item"
							href="../../mypage.html?command=meettype">선호모임 설정</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item"
							href="../../mypage.html?command=myinfo">개인정보 변경</a></li>
						<li><a class="dropdown-item" href="../../mypage.html?command=mypw">패스워드
								변경</a></li>
						<li><a class="dropdown-item" href="../../mymeeting.jsp">내 모임 보기</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link"
					href="../../friends.html?command=friendlist">Friends</a></li>
				<li class="nav-item">
					<form class="nav-link" action="/create-meet" method="post"
					onclick="document.getElementById('makemeetButton').click()">Make Meet
						<button class="btn btn-primary btn-xl" id="makemeetButton"
								type="submit" style="display: none"></button>
					</form>
				</li>
			</ul>
			<!-- <form class="d-flex" action="로그인주소">
			</form> -->
			<div th:if="${session.accountId == null}">
				<button class="btn " type="submit" name = "loginout"
					onclick="location.href='/tologin'">로그인</button>
				/
				<button class="btn " type="submit" name = "loginout"
					onclick="location.href='signup.html'">회원가입</button>
			</div>
			<div th:if="${session.accountId != null}">
				<button class="btn " type="submit" name = "logout"
					onclick="location.href='login.html'">로그아웃</button>
			</div>
			
			<!-- <form class="d-flex" action="회원가입주소">
			</form> -->
		</div>
	</div>
</nav>